<div class="p-4">

  <!-- GITHUB PROFILE -->
  <div class="float-left col-xl-3 col-lg-3 col-md-12 col-sm-12">
    <div class="p-2">
      <div class="Box">
        <div class="Box-body ">
          <bt-home-profile></bt-home-profile>
        </div>
      </div>
    </div>
  </div>

  <div class="float-right col-xl-9 col-lg-9 col-md-12 col-sm-12">

    <!-- main content -->
    <div class="p-2">
      <div class="Box">
        <div class="Box-header">
          <h3 class="Box-title">
            README.md
          </h3>
        </div>
        <div class="Box-body markdown-body">
          <p>
            This project is currently <strong>under construction</strong>, so pardon my dust while I flesh out and play
            around with this project.
          </p>
        </div>
      </div>
    </div>

    <!-- main application cards -->
    <div class="clearfix">
      <bt-link-box title="Projects"
                   link="/projects">
        <p class="link-box-text">
          Open source projects I've done. Most are using TypeScript, Angular, and Nodejs technologies. There are some
          older project's that use Python and even C, however those are from my college project days and are no longer
          maintained.
        </p>
      </bt-link-box>
      <bt-link-box title="Apps"
                   link="/apps">
        <p class="link-box-text">
          Web applications you can use right now. Usual built using Angular and nx.
        </p>
      </bt-link-box>
      <bt-link-box title="blog"
                   link="/blog">
        <p class="link-box-text">
          My blog, on topic such as programming, computer science, technology, and more broad topics like
          science-fiction and philosophy.
        </p>
      </bt-link-box>
      <bt-link-box title="Snippets"
                   link="/snippets">
        <p class="link-box-text">
          Code snippets I've found useful, this usually integrates directly with a github gist.
        </p>
      </bt-link-box>
    </div>

    <div>
      <!-- secondary application cards, smaller, carries links -->
    </div>
  </div>
</div>
