<div class="container-xl">

  <!-- GITHUB PROFILE -->
  <div class="col-3 float-left p-4">
    <div class="Box">
      <div class="Box-body p-4">
        PROFILE-INFO
        <!--
        1. Profile Picture
        2. Basic contact information
          - email
          - location
          - social media handles
        3. "Resume info"
          - technologies
          - years of experience
          - college degree
          - certs
      -->
      </div>
    </div>
  </div>

  <div class="col-9 float-right p-4">
    <!-- main content -->

    <div class="Box mb-4">
      <div class="Box-header">
        <h3 class="Box-title">
          README.md
        </h3>
      </div>
      <div class="Box-body markdown-body">
        Main README content
      </div>
    </div>
    <div class="">
      <!-- ROW -->
      <div class="Box mb-4">
        <a class="Box-header Link d-flex flex-row">
          <octicon octicon="project"
                   class="mr-1"></octicon>
          <h3 class="Box-title overflow-hidden flex-auto">
            Projects
          </h3>
          <!-- <a class="btn btn-primary btn-sm">
            Go
          </a> -->
        </a>
        <div class="Box-body">
          <!-- TODO: add "keyword component" -->
          Open source projects I've done. Most are using TypeScript, Angular, and Nodejs technologies. There are some
          older project's that use Python and even C, however those are from my college project days and are no longer
          maintained.
        </div>
      </div>
      <div class="Box">
        <div class="Box-header">
          <h3 class="Box-title">
            Blog
          </h3>
        </div>
      </div>
      <div class="Box">
        <div class="Box-header">
          <h3 class="Box-title">
            Apps
          </h3>
        </div>
      </div>
      <div class="Box">
        <div class="Box-header">
          <h3 class="Box-title">
            Snippets
          </h3>
        </div>
      </div>
    </div>
  </div>
</div>
