<!--
  1. Profile Picture
  2. Basic contact information
    - email
    - location
    - social media handles
  3. "Resume info"
    - technologies
    - years of experience
    - college degree
    - certs
-->

<ng-container *ngIf="user$ | async as user">
  <div>
    <img class="home-profile-avatar avatar"
         alt="Avatar"
         [src]="user.avatar_url">
  </div>
  <div>
    {{user.name}}
  </div>
  <div>
    <p>
      {{user.bio}}
    </p>
  </div>
  <!-- TODO: add spacing here-->
  <div>
    <!-- TODO: add followers, following, starred-->
  </div>
  <!--
    **NOTE** stuff after this point will be DIFFERENT than the github
    profile version
  -->
  <div class="d-flex flex-column">
    <!-- social media handles -->
    <a [href]="user.html_url"
       class="Link--primary">
      <octicon octicon="mark-github"
               class="mr-1"></octicon> {{user.login}}
    </a>
    <a [href]="socials.linkedIn"
       class="Link--primary">
      LinkedIn
    </a>
    <a [href]="socials.twitter"
       class="Link--primary">
      Twitter
    </a>
    <a [href]="socials.freeCodeCamp"
       class="Link--primary">
      FreeCodeCamp
    </a>
    <a [href]="socials.npm"
       class="Link--primary">
      npm
    </a>
  </div>
  <div>
    <!-- TODO: contact information (non-spam)-->
  </div>
  <div>
    <!-- TODO: add work history, probably end up using markdown lists?-->
  </div>
  <div>
    <!-- TODO: add technology icons, probably end up using markdown list?-->
  </div>
  <div>
    <!-- TODO: add degree and certifications, this should be hard-coded-->
  </div>
</ng-container>
