<div class="d-flex flex-1 flex-justify-between">

  <!--  left-side -->
  <div>
    <span class="d-flex">
      <a routerLink="/"
         class="d-flex flex-row m-2">
        <octicon octicon="person"></octicon>
        <div>
          <h4>
            bradtaniguchi
          </h4>
        </div>

      </a>
    </span>
  </div>

  <div>
    <!--  right-side, nav-links -->
    <span class="d-flex flex-row">
      <a routerLink="/home"
         class="Link d-flex flex-row m-2">
        <octicon octicon="home"
                 class="mr-1"></octicon>
        <span>Home</span>
      </a>
      <a routerLink="/blog"
         class="Link d-flex flex-row m-2">
        <octicon octicon="markdown"
                 class="mr-1"></octicon>
        <span>Blog</span>
      </a>
      <a routerLink="/snippets"
         class="Link d-flex flex-row m-2">
        <octicon octicon="code"
                 class="mr-1"></octicon>
        <span>Snippets</span>
      </a>
      <a routerLink="/about"
         class="Link d-flex flex-row m-2">
        <octicon octicon="question"
                 class="mr-1"></octicon>
        <span>About</span>
      </a>
    </span>
  </div>
</div>
